[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "pECV"]
	path = pECV
	url = https://github.com/cran/pECV
[submodule "transGFM"]
	path = transGFM
	url = https://github.com/cran/transGFM
